/*
  Custom styles for Trackster App
*/
body {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  color: rgb(74, 74, 74);
}
.navbar {
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid transparent;
}
.navbar-default {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
}
#header {
  background-color: rgb(35, 2, 63);
  padding: 2.75rem;
}
#logo {
  font-family: 'Righteous', cursive;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}
#search-txt {
  height: 41px;
}
header form div.form-group input.form-control {
  border-radius: 19px;
  margin-right: 0.25rem;
  width: 15rem;
  color: rgb(74, 74, 74);
}
@media (min-width: 768px) {
  .navbar-fixed-top {
    border-radius: 0;
  }
}
